macOS Catalina install<br> 
/Install\ macOS\ Catalina.app/Contents/Resources/startosinstall --agreetolicense --volume /Volumes/Macintosh\ HD<br> 
<br> 
macOS Monterey install<br> 
/Install\ macOS\ Monterey.app/Contents/Resources/startosinstall --agreetolicense --volume /Volumes/Macintosh\ HD<br> 